<%= render 'layouts/navigation'%>
<h2>We will help you easily customize a brochure</h2>
<h3>Response:</h3>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <% @header_elements.each_with_index do |element, index| %>
      <tr>
        <td><%= element %></td>
        <td><%= @body_elemets[index] %>
        <% if element === 'BrokerLogo' %>
          <%= image_tag @body_elemets[index] %>
        <% else %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>