<table>
  <thead>
    <tr>
      <% @header_elements.each do |element| %>
      <th><%= element %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @body_elemets.each do |element| %>
      <td><%= element %></td>
      <% end %>
    </tr>
  </tbody>
</table>