<table class="table table-striped">
  <thead>
  </thead>
  <tbody>
    <% @header_elements.each_with_index do |element, index|%>
      <tr>
        <td><%= element %></td>
        <td><%= @body_elemets[index] %></td>
      </tr>
    <% end %>
  </tbody>
  <%# <%= link_to 'step1', next_wizard_path %> %>
</table>