<%= render 'layouts/navigation'%>
<section class="section mb-5">
  <div class="container p-0 m-0">
    <div class="row no-gutters">
      <div class="col-12">
        <%= render '/layouts/steps', tour: @tour%>
      </div>
    </div>
    <div class="row no-gutters mt-5">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <%= link_to "Send to Cotala for Printing", create_path(:tour_id => @tour.id), class:'btn btn-primary pdf-button', :data => {disable_with: "Generating PDF ..."} %>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row no-gutters mt-5">
      <div class="col-3"></div>

      <div class="col-3"></div>
    </div>
  </div>
</section>
