<div class="modal fade" id="agent_name_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="images_modal_title">Edit Info</h5>
      </div>
      <div class="modal-body">
        <div class="row no-gutters">
          <%= form_for @tour, url: tour_detail_path(@tour, type: :agent_name), method: :put, remote: true do |f| %>
          <%= f.text_area :agent_name, id:'agent_name_text_area' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-secondary save">Save</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("turbolinks:load", function() {
    $('.close').on("click", function() {
      $('#agent_name_modal').modal('hide')
    })
  })
</script>