/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
$primary: #981c1e;
$white: #fff;
$secondary: #000000;
body {
  font-family: "Muli", sans-serif;
}
.btn {
  padding: 7px 14px;
  &.step {
    padding: 10px 25px;
    border-radius: 5px;
  }
}
.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;
  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
  &.border {
    border-radius: 10px;
  }
}
.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: $white;
}
.navbar {
  padding: 0px 11.81%;
  background-color: $white;
  height: 75px;
  border-bottom: 1px solid black;
}
.section {
  padding: 60px 11.81% 0px 11.81%;
}
.pdf-button {
  // padding: 10px 150px;
}
.section-banner {
  padding: 180px 11.81% 0px 11.81%;
  background-image: url("ofs-2021-3.jpeg");
  background-repeat: no-repeat;
  height: 1000px;
  background-position: center;
  background-size: cover;
}
.tour-image,
.theme-column,
.modal-link {
  cursor: pointer;
}
.selected-image {
  border: 3px solid #981c1e;
}

.selected-theme {
  border: 2px solid #981c1e;
}

.text-edit {
  width: 100%;
}
